.cardList {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 10%;
    margin-right: 10%;
}

.resultSection {
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
