.mainPageLayout {
    display: flex;
    flex-direction: column;
    /* background-color: #303131; */
    background-image: linear-gradient(#303131, black);
}



.playViewer {
    height: 65vh;
    box-sizing: border-box;
}

.buttons {
    height: 30vh;
}

.counter-container {
    height: 5vh;
}