.card {
    height: 150px;
    width: 150px;
    display:flex;
    align-items:center;
    justify-content:center;
    opacity: 0.8;
    border-radius: 5px;
    border: 5px solid;
    font-weight:bold;
    font-size: 1.5em;
    border: 2px solid;
    box-sizing: border-box;
    flex-direction: column;
}

.bet {
    border-radius: 50%;
    background-color: white;
    height: 75px;
    width: 75px;
    visibility: hidden;
    box-sizing: border-box;
    border: 5px solid;
    padding-top: 0.5em;
}